
.question-container
  .question-data.text-center
  .loading.text-center
    Loading...
  .video-container
    %video
.answer-choices
  .text-center
    %button.show-extra
      Show me a few milliseconds more!
  %br
  .text-center
    Predict as much as you can about the serve
  %br
  %table
    %tr
      %th Length
      %th Spin
      %th Direction
    %tr
      %td
        %ul
          %li Short
          %li Long
      %td
        %ul
          %li Topspin
          %li Backspin
      %td
        %ul
          %li Left
          %li Middle
          %li Right


