body{
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #FFF0A5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

video{
  width: 100%;
}
