!!!
%html
  %head
    %title Ace: A simple service trainer
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .banner.text-center
        %h2 Ace (Tennis)
        %h5 Under Development
      .content
        = yield
